html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.Feeds {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.Feeds a {
  color: var(--colorFront);
  text-decoration: none;
}

.Feeds__navigation {
  padding: var(--articlePadding);
  border-bottom: 1px solid var(--colorFront);
  width: calc(100% - (var(--articlePadding) * 2));
  display: flex;
  justify-content: center;
}

.Feeds__content {
  overflow-y: scroll;
  padding: 0 var(--articlePadding) var(--articlePadding) var(--articlePadding);
  flex-grow: 1;
  max-width: var(--articleColumnWidth);
  display: flex;
  flex-direction: column;
}

.Feeds__select {
  background: transparent;
  border: none;
  width: 100%;
  font-size: 1rem;
  line-height: 1rem;
  outline: none;
  font-family: "PT Serif", serif;
  max-width: var(--articleColumnWidth);
}

.Feeds__item {
  border-bottom: 1px solid var(--colorFront);
  width: 100%;
  padding: var(--articlePadding) 0;
}

.Feeds__item h1,
.Feeds__item h2,
.Feeds__item h3,
.Feeds__item h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  font-family: "PT Serif", serif;
}

.Feeds__item p,
.Feeds__item span,
.Feeds__item {
  font-size: 0.6rem;
  font-family: sans-serif;
}

.Feeds__itemAuthor {
  margin: calc(var(--articlePadding) / 4) 0 0 0;
}

.Feeds__itemDescription {
  margin: calc(var(--articlePadding) / 2) 0 0 0;
}
