html,
body {
  width: 100dvw;
}

.Feeds {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  box-sizing: border-box;
}

.Feeds a {
  color: var(--colorFront);
  text-decoration: none;
}

.Feeds__navigation {
  padding: 0 var(--articlePadding);
  display: flex;
  justify-content: center;
  width: calc(var(--articleColumnWidth) + var(--articlePadding) * 2);
  max-width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background: var(--colorBackground);
  flex-shrink: 0;
}

.Feeds__content {
  display: flex;
  width: calc(var(--articleColumnWidth) + var(--articlePadding) * 2);
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.Feeds__select {
  background: transparent;
  border: none;
  width: 100%;
  font-size: 1rem;
  height: calc(1rem + var(--articlePadding) * 2);
  line-height: calc(1rem + var(--articlePadding) * 2);
  outline: none;
  font-family: var(--fontFamilySerif);
  border-bottom: 1px solid var(--colorFront);
  background: var(--colorBackground);
  appearance: none;
  border-radius: 0;
}

.Feeds__item {
  padding: 1rem 0;
  margin: 0;
  display: block;
  page-break-inside: avoid;
  border-bottom: 1px solid;
  border-image: linear-gradient(
      90deg,
      var(--colorBackground) 35%,
      var(--colorFront) 35%,
      var(--colorFront) 65%,
      var(--colorBackground) 65%
    )
    1;
}

.Feeds__item h1,
.Feeds__item h2,
.Feeds__item h3,
.Feeds__item h4 {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  font-family: var(--fontFamilySerif);
}

.Feeds__itemAuthor {
  margin: calc(var(--articlePadding) / 4) 0 0 0;
  font-style: italic;
  font-family: var(--fontFamilySerif);
  font-size: 0.7rem;
  line-height: 0.9rem;
}

.Feeds__itemDescription {
  margin: calc(var(--articlePadding) / 2) 0 0 0;
  font-size: 0.9rem;
  line-height: 1rem;
  font-family: var(--fontFamilySerif);
  text-align: justify;
  hyphens: auto;
  padding: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.Feeds__itemNoContent {
  text-align: center;
}

.Feeds__lastUpdated {
  display: flex;
  padding: 0 var(--articlePadding);
  display: flex;
  justify-content: center;
  width: calc(var(--articleColumnWidth) + var(--articlePadding) * 2);
  max-width: 100%;
  box-sizing: border-box;
  background: var(--colorBackground);
}

.Feeds__lastUpdatedContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--colorFront);
  font-family: var(--fontFamilySans);
  font-size: var(--fontSizeSmall);
  line-height: var(--fontSizeSmall);
  padding: 0.5em 0;
}
