@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-family: var(--fontFamilySerif);
  font-weight: normal;

  color-scheme: light dark;

  --fontFamilySerif: "Alegreya", "Georgia", "Times", "Times New Roman", serif;
  --fontFamilySans: sans-serif;
  --fontFamilyMono: "JetBrains Mono", monospace;
  --fontSizeSmall: max(0.6rem, 10px);

  --articlePadding: 24px;
  --articleMaxColumn: 600px;
  --articleColumnWidth: clamp(
    200px,
    calc(100dvw - var(--articlePadding) - var(--articlePadding)),
    var(--articleMaxColumn)
  );
  --articleInteractionsZindex: 99;
  --articleActionsZindex: 99;
  --mainFontSize: 16px;

  --colorBackground: #fff;
  --colorFront: #000;
  --colorBgGrey: #eee;
  --colorBackgroundTransparent: #ffffffb3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorBackground: #000;
    --colorFront: #e3e3e3;
    --colorBgGrey: #0c0c0c;
    --colorBackgroundTransparent: #000000b3;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--colorBackground);
  color: var(--colorFront);
}

.error-container {
  padding: 2em;
  font-size: 1rem;
  font-family: var(--fontFamilySerif);
  text-align: center;
}

.error-container a {
  border: 1px solid var(--colorFront);
  color: var(--colorFront);
  text-decoration: none;
  padding: 0.3em 1em;
  display: inline-block;
}

.error-container-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
