html,
body {
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
}

.PagedNavigation {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  align-items: center;
}

.PagedNavigation__header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.PagedNavigation__container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  width: var(--articleColumnWidth);
}

.Actions {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: var(--articleActionsZindex);
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.Actions__menu {
  background-color: var(--colorBackground);
}

.Actions__home {
  display: flex;
  flex-grow: 1;
  background-color: var(--colorBackgroundTransparent);
}

.Actions__menuBar {
  padding: var(--articlePadding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--colorFront);
  font-family: var(--fontFamilySans);
}

.Actions__menuBar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.Actions__menuBar-right button {
  height: 1.5rem;
}

.Actions__menuBar-right a,
.Actions__menuBar-right a:visited {
  color: var(--colorFront);
}

.Actions__menuBar-clipboard-container {
  position: relative;
}

.Actions__menuBar-clipboard {
  position: absolute;
  right: 2rem;
  bottom: 0;
  z-index: 1;
  background: var(--colorBackground);
  color: var(--colorFront);
  font-size: var(--fontSizeSmall);
  font-family: var(--fontFamilySans);
  white-space: nowrap;
  height: 100%;
  padding: 0 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
}

.PagedNavigation__columns {
  column-width: var(--articleColumnWidth);
  -webkit-column-width: var(--articleColumnWidth);
  column-gap: var(--articlePadding);
  -webkit-column-gap: var(--articlePadding);
  height: 100%;
}

.PagedNavigation__columns img,
.PagedNavigation__columns iframe,
.PagedNavigation__columns video {
  width: 100%;
  height: auto;
}

.PagedNavigation__columns picture {
  display: flex;
  margin-bottom: 1em;
}

.PagedNavigation__footer {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: var(--fontFamilySans);
  flex-shrink: 0;
  width: var(--articleColumnWidth);
}

.NavigationBar__readPercentage {
  height: 0.2rem;
  margin-bottom: var(--articlePadding);
  border: 1px solid var(--colorFront);
}

.NavigationBar__readPages {
  height: 0.2rem;
  margin-bottom: var(--articlePadding);
  display: flex;
  flex-wrap: nowrap;
}

.NavigationBar__page {
  height: 0.2rem;
  border-top: 1px solid var(--colorFront);
  border-bottom: 1px solid var(--colorFront);
  border-right: 1px solid var(--colorFront);
  flex-grow: 1;
}

.NavigationBar__page:first-child {
  border-left: 1px solid var(--colorFront);
}

.NavigationBar__page-current {
  height: 0.2rem;
  border: 1px solid var(--colorFront);
  flex-grow: 1;
  background: var(--colorFront);
}

.NavigationBar__readPercentageBar {
  background: var(--colorFront);
  height: 100%;
}

.NavigationBar__footerInfo {
  font-size: var(--fontSizeSmall);
  line-height: var(--fontSizeSmall);
  padding: var(--articlePadding) 0 calc(var(--articlePadding) / 4) 0;
}

.PagedNavigationContainer__siteName {
  font-family: var(--fontFamilySans);
  line-height: 1;
  font-size: 0.75rem;
  margin: 0;
}

.FontSet {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}
