html,
body {
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
}

.PagedNavigation {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}

.PagedNavigationContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  width: var(--articleColumnWidth);
}

.PagedNavigationContainer__actions {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: var(--articleActionsZindex);
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.PagedNavigationContainer__actions-menu {
  background-color: var(--colorBackground);
}

.PagedNavigationContainer__actions-home {
  display: flex;
  flex-grow: 1;
  background-color: var(--colorBackgroundTransparent);
}

.PagedNavigationContainer__actions-menuBar {
  padding: var(--articlePadding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--colorFront);
}

.PagedNavigationContainer__columns {
  column-width: var(--articleColumnWidth);
  -webkit-column-width: var(--articleColumnWidth);
  column-gap: var(--articlePadding);
  -webkit-column-gap: var(--articlePadding);
  height: 100%;
}

.PagedNavigationContainer__columns img,
.PagedNavigationContainer__columns iframe,
.PagedNavigationContainer__columns video {
  width: 100%;
  height: auto;
}

.PagedNavigationContainer__columns picture {
  display: flex;
  margin-bottom: 1em;
}

.PagedNavigationContainer__footer {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: var(--fontFamilySans);
  flex-shrink: 0;
}

.PagedNavigationContainer__readPercentage {
  height: 0.2rem;
  margin-bottom: var(--articlePadding);
  border: 1px solid var(--colorFront);
}

.PagedNavigationContainer__readPages {
  height: 0.2rem;
  margin-bottom: var(--articlePadding);
  border-left: 1px solid var(--colorFront);
  display: flex;
  flex-wrap: nowrap;
}

.PagedNavigationContainer__page {
  height: 0.2rem;
  border-top: 1px solid var(--colorFront);
  border-bottom: 1px solid var(--colorFront);
  border-right: 1px solid var(--colorFront);
  flex-grow: 1;
}

.PagedNavigationContainer__page:first-child {
  border-left: 1px solid var(--colorFront);
}

.PagedNavigationContainer__page-current {
  height: 0.2rem;
  border: 1px solid var(--colorFront);
  flex-grow: 1;
  background: var(--colorFront);
}

.PagedNavigationContainer__readPercentageBar {
  background: var(--colorFront);
  height: 100%;
}

.PagedNavigationContainer__footerInfo {
  font-size: var(--fontSizeSmall);
  line-height: var(--fontSizeSmall);
  padding: var(--articlePadding) 0 calc(var(--articlePadding) / 4) 0;
}

.PagedNavigationContainer__siteName {
  font-family: var(--fontFamilySans);
  line-height: 1;
  font-size: 0.75rem;
  margin: 0;
}

.FontSet {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}
